<div class="col-md-12" >
  <div class="record">
    <%= link_to("New Record", new_record_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>日期</td>
        <td>房间号</td>
        <td>设备名称</td>
        <td>型号</td>
        <td>序列号</td>
        <td>故障描述</td>

        <td>解决过程</td>
        <td>结果</td>
        <td>备注</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "record_item", :collection => @records, :as => :record %>
    </tbody>
  </table>
</div>
